In [20]:
newlist = [0,1,2,3,4,5,6,7,8,9]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
newlist = [x for x in range(10)] 
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
print([x*x for x in range(10)])

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [19]:
print([x ** 3 for x in range(10) if x % 2 == 1])

[1, 27, 125, 343, 729]

In [18]:
print({x:x*x for x in range(10)})

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [17]:
print({x*x for x in range(10)})

{0, 1, 64, 4, 36, 9, 16, 49, 81, 25}

In [16]:
newtuple = *(x*x for x in range(10)),
print(newtuple)

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)